@charset "utf-8"

//-----------------------
// cover
//-----------------------
=neumorphism($width: 4px)
  box-shadow: ($width / 2) ($width / 2) $width rgba(#FFF, 0.3), (-$width / 2) (-$width / 2) $width rgba(#000, 0.1)

=neumorphism2($width: 4px)
  box-shadow: ($width / 2) ($width / 2) $width rgba(#000, 0.1), (-$width / 2) (-$width / 2) $width rgba(#FFF, 0.3), inset (-$width / 2) (-$width / 2) $width rgba(#000, 0.1), inset ($width / 2) ($width / 2) $width rgba(#FFF, 0.3)

=neumorphism3($width: 8px)
  box-shadow: ($width / 2) ($width / 2) $width rgba(#000, 0.1), (-$width / 2) (-$width / 2) $width rgba(#000, 0.1)

//-----------------------
// cover
//-----------------------
=cover($color)
  position: absolute

  +topLeft(0, 0)

  width: 100%
  height: 100%
  background-color: $color

//-----------------------
// textOut
//-----------------------
=textOut
  overflow: hidden
  text-indent: 100%
  white-space: nowrap
  text-align: left

//-----------------------
// font
//-----------------------
=webfont
  font-family: "M PLUS 1p", "Arial", "HelveticaNeue-Light"

//-----------------------
// topLeft
//-----------------------
=topLeft($top, $left, $position: absolute)
  position: $position
  top: $top
  left: $left

//-----------------------
// topRight
//-----------------------
=topRight($top, $right, $position: absolute)
  position: $position
  top: $top
  right: $right

//-----------------------
// bottomLeft
//-----------------------
=bottomLeft($bottom, $left, $position: absolute)
  position: $position
  bottom: $bottom
  left: $left

//-----------------------
// bottomRight
//-----------------------
=bottomRight($bottom, $right, $position: absolute)
  position: $position
  bottom: $bottom
  right: $right

//-----------------------
// center
//-----------------------
=centerTransform($top: 50%, $left: 50%, $position: absolute)
  position: $position
  top: $top
  left: $left
  transform: translate(-50%, -50%)

//-----------------------
// vCenter
//-----------------------
=vCenter($top: 50%, $position: absolute)
  position: $position
  top: $top
  transform: translate(0, -50%)

//-----------------------
// hCenter
//-----------------------
=hCenter($left: 50%, $position: absolute)
  position: $position
  left: $left
  transform: translate(-50%, 0)

//-----------------------
// fukiLeft
//-----------------------
=fukiLeft($color: #FFF)
  position: relative
  display: inline-block
  padding: 10px
  background: $color
  box-shadow: 0 0 2px 0 rgba(#000, 0.2)

  $fukiSize: 12px

  &::before
    content: ""
    position: absolute
    top: 20%
    left: -$fukiSize * 2
    border: $fukiSize solid transparent
    border-right: $fukiSize solid $color
    z-index: 1

//-----------------------
// fukiLeft
//-----------------------
=fukiLeft2($color: #FFF)
  position: relative
  display: inline-block
  padding: 10px
  background: $color
  box-shadow: 0 0 2px 0 rgba(#000, 0.6)

  &:after
    content: ""
    z-index: 1
    margin-top: -12px

    +topLeft(50%, -16px)
    +img("/img/fuki-left.png", 16px, 24px)

//-----------------------
// fukiTop
//-----------------------
=fukiTop($color: #FFF, $left: 20px)
  position: relative

  $fukiTopSize: 12px

  &::before
    content: ""
    position: absolute
    left: $left
    top: -$fukiTopSize * 2
    border: $fukiTopSize solid transparent
    border-bottom: $fukiTopSize solid $color
    z-index: 1
    margin-left: -$fukiTopSize

//-----------------------
// img
//-----------------------
=img($url, $width, $height, $display: block)
  display: $display
  background-image: url($url)
  background-repeat: no-repeat
  background-size: $width $height
  width: $width
  height: $height
