@charset "utf-8"

@import ~bulma/sass/utilities/initial-variables
@import ~bulma/sass/utilities/functions

// 1. Set your own initial variables and derived
@import variables

$info: #665b1f
$primary: #665b1f

// 2. Setup your Custom Colors
$linkedin: #0077b5
$linkedin-invert: findColorInvert($linkedin)
$twitter: #55acee
$twitter-invert: findColorInvert($twitter)
$github: #333
$github-invert: findColorInvert($github)

@import ~bulma/sass/utilities/derived-variables

// 3. Add new color variables to the color map.
$addColors: ("twitter": ($twitter, $twitter-invert), "linkedin": ($linkedin, $linkedin-invert), "github": ($github, $github-invert))

$colors: map-merge($colors, $addColors)

@import ~bulma
@import ~buefy/src/scss/buefy

// 4. Provide custom buefy overrides and site styles here

html
  background-color: #EAC795
  background-image: url("/img/asfalt-dark.png")

a
  &[disabled]
    pointer-events: none

.view
  +mobile
    margin-top: 30px

//----------------------
// bulma
//----------------------
.dropdown-content
  padding-top: 0
  padding-bottom: 0

//----------------------
// transition
//----------------------
.fade-enter-active, .fade-leave-active
  transition: opacity 0.3s

.fade-enter, .fade-leave-to
  opacity: 0

//----------------------
// snackbar
//----------------------
.notices .snackbar
  &.is-success
    background-color: #72aa53

  &.is-danger
    background-color: #c65555

//----------------------
// modal
//----------------------
.modal
  .animation-content
    .modal-card
      margin: auto

  +mobile
    .modal-card
      padding: 20px

.view
  +touch
    padding: 20px

//----------------------
// transition
//----------------------
.fade-quick-enter-active, .fade-quick-leave-active
  transition: opacity 0.1s

.fade-quick-enter, .fade-quick-leave-to
  opacity: 0

//----------------------
// swiper
//----------------------
.swiper-container
  // width: 100vw
  // height: 100vh
  overflow: hidden

.swiper-slide
  height: 100vh
  overflow: scroll
