<template lang="pug">
main
  Header(v-if="isMobile")
  //- swiper
  .swiper-container.--top
    .swiper-wrapper
      //- スライド
      .swiper-slide.slide-post
        //- Header
        .view
          MainVisual(@change="onChangeFromVisual")
          section
            .container
              .columns
                //- 左側
                .column.--main
                  Chunum.chunum
                  //- タグリスト
                  TagList(@change="filterWithTag" v-if="!isMobile")
                  //- 投稿
                  section.columns.section-postimgs(:class="{'--size-mid': !isMobile}")
                    .column(v-for="col in collist")
                      ul
                        li(v-for="i in col" :key="i.id")
                          PostImgItem(:item="i" @showImg="(i, autoopen) => showImg(i, autoopen)")
                  //- もっと
                  .postimgs-more
                    a.button(@click.stop.prevent="more" :class="{'is-loading': !visbleMore}")
                      |もっと
                  //- section.section-3
                  //-   .columns
                  //-     .column.block3
                  //-     .column.block3
                  //-     .column.block3
                  //- section.section-items
                  //-   .item(v-for="i in items")
                  //-     a
                  //-       .item-date {{i.postdate}}
                  //-       .item-title {{i.title}}

                //- 右側
                .column.--side.is-narrow
                  .size
                    p Rows
                    ul
                      li
                        b-radio(v-model="colsMax" :native-value="5") 5
                      li
                        b-radio(v-model="colsMax" :native-value="4") 4
                      li
                        b-radio(v-model="colsMax" :native-value="3") 3
                      li
                        b-radio(v-model="colsMax" :native-value="2") 2
                  SideMenu.sidemenu
        Footer
      //- スライド
      .swiper-slide(v-if="isMobile")
        TagList.taglist-mobile(@change="filterWithTag")
        img.cancrow(src="/img/cancrow.png")
        

  //- モーダル
  b-modal(:active.sync="visibleFocusImg" :on-cancel="() => showImg(null)" ) 
    p.image(v-if="focusItem" @mousemove="checkMousePosition")
      img(:src="focusItem.imgurl")
      p.autoopen(v-if="autoOpen") 自動オープンしたので、マウスをうごかすと閉じます
</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import Swiper from 'swiper';
import SideMenu from './-assets/SideMenu.vue';
import MainVisual from './-assets/MainVisual.vue';
import Chunum from './-assets/Chunum.vue';
import PostImgItem from './-assets/PostImgItem.vue';
import TagList from '@/components/TagList.vue';
import { PostImgView } from '@/types/app';
import { LS, sentryMsg } from '@/common/util';
import { appStore, imgpostStore } from '@/store';
import { viewMixin } from '@/mixin/mxin';
import { PostImg, Tag, PostImgRequest } from '@/plugins/firebase.ts';

type PostImgState = {
  edit: boolean;
  rnd: string;
};

type BlogItem = {
  title: string;
  body: string;
};

type BlogItemRes = {
  fields: { body: string; title: string };
  sys: { id: string; type: string };
};

type State = {
  sending: boolean;
  result: string;
  bitems: BlogItemRes[];
  focusItem: PostImg | null;
  visibleFocusImg: boolean;
  wheelCount: number;
  autoOpen: boolean;
  postimgMapData: { [key: string]: PostImgState };
  visibleTag: boolean;
  colsMax: number;
  mySwiper: Swiper | null;
};

export default Vue.extend({
  name: 'HomePage',
  components: {
    SideMenu,
    MainVisual,
    PostImgItem,
    TagList,
    Chunum,
  },
  mixins: [viewMixin],
  data(): State {
    return {
      sending: false,
      result: '',
      bitems: [],
      focusItem: null,
      visibleFocusImg: false,
      wheelCount: 0,
      autoOpen: false,
      postimgMapData: {},
      visibleTag: false,
      colsMax: 2,
      mySwiper: null,
    };
  },
  computed: {
    isAdmin(): boolean {
      return appStore.isAdmin;
    },
    items(): BlogItem[] {
      const ret = this.bitems.map((i: BlogItemRes) => {
        const body = this.$myfilters.postFilter(i.fields.body);
        return { title: i.fields.title, body };
      });
      return ret;
    },
    visbleMore(): boolean {
      return this.items.length > 0;
    },
    taglist(): Tag[] {
      return [{ id: '', title: 'なし' }, ...imgpostStore.taglist];
    },
    // postimglist(): PostImg[] {
    //   return imgpostStore.postimglist.map((i: PostImg) => {
    //     const d = { ...i };
    //     if (!this.postimgMapData[d.id]) {
    //       d.comment = this.$sanitize(d.comment.trim()).replace(/\n/g, '<br>');
    //       this.$set(this.postimgMapData, d.id, { edit: false, rnd: '', editTag: false });
    //     }
    //     return d;
    //   });
    // },

    collist(): PostImgView[][] {
      let counter = 0;
      const ret: PostImgView[][] = [];
      imgpostStore.postimglist.forEach((i: PostImg) => {
        counter += 1;
        const d: PostImgView = { ...i, tagsDisp: [] };
        if (!this.postimgMapData[d.id]) {
          d.comment = this.$sanitize(d.comment.trim()).replace(/\n/g, '<br>');
          this.$set(this.postimgMapData, d.id, { edit: false, rnd: '', editTag: false });
        }
        if (d.tags) {
          const tagsDisp: Tag[] = [];
          d.tags.forEach((t: string) => {
            const tag = this.taglist.find((t2: Tag) => t2.id === t);
            if (tag) {
              tagsDisp.push(tag);
            }
          });
          d.tagsDisp = tagsDisp;
        }

        const ary = ret[counter - 1] || [];
        ary.push(d);
        ret[counter - 1] = ary;
        if (counter === this.colsMax) {
          counter = 0;
        }
      });
      return ret;
    },
  },
  watch: {
    colsMax(val: string) {
      LS('colsMax', val);
    },
  },
  mounted() {
    this.fetch();

    const colsMax = LS('colsMax');
    if (colsMax) {
      this.colsMax = +colsMax;
    }

    // Swiper
    this.mySwiper = new Swiper('.swiper-container.--top', {});

    // appStore.Login({ email: process.env.USER_EMAIL || '', password: process.env.USER_PASS || '' });
    // appStore.PostImg();
    // sentry('なんかおきた');
  },
  beforeDestroy() {},
  methods: {
    async fetch() {
      this.sending = true;
      const res = await appStore.FetchEntries();
      this.sending = false;
      console.log('しゅとく', JSON.parse(JSON.stringify(res)));
      this.bitems = res.items as BlogItemRes[];

      // this.bitems = [...this.bitems, ...this.bitems, ...this.bitems];
    },

    /**
     * showImg
     */
    showImg(i: PostImg | null, autoopen: boolean = false) {
      this.focusItem = i;
      if (i) {
        this.visibleFocusImg = true;
        this.autoOpen = autoopen;
        sentryMsg(`イメージオープン ${i.id}`);
      } else {
        this.wheelCount = 0;
        this.visibleFocusImg = false;
        this.autoOpen = false;
      }
    },

    checkMousePosition(e: WheelEvent) {
      if (!this.autoOpen) return;
      this.wheelCount += 1;
      if (this.wheelCount > 10) {
        this.showImg(null);
      }
    },

    // editPost(id: string, edit: boolean) {
    //   this.postimgMapData[id].edit = edit;
    // },

    // updatePostComment(id: string, comment: string) {
    //   this.editPost(id, false);
    //   this.updatePost(id, { comment });
    // },

    // updatePost(id: string, params: any) {
    //   imgpostStore.UpdatePost({ id, ...params });
    // },

    // removePost(id: string) {
    //   this.$buefy.dialog.confirm({
    //     message: '削除するナム?',
    //     onConfirm: async () => {
    //       const res = await imgpostStore.RemovePost(id);
    //       if (res.error) {
    //         toastNG('削除に失敗');
    //         return;
    //       }
    //       toastOK('削除した');
    //     },
    //   });
    // },

    // hoverImg(i: PostImg) {
    //   if (!i.imgurl.includes('.gif')) return;
    //   this.postimgMapData[i.id].rnd = `?rnd=${Math.floor(Math.random() * 1000)}`;
    // },

    filterWithTag(t: Tag) {
      const p: any = { total: '30' };
      if (t.id) {
        p.tagid = t.id;
      }
      this.setUrlParms(p);
      if (this.mySwiper) {
        this.mySwiper.slidePrev();
      }
    },

    onChangeHash(hash: string) {
      const q = this.getUrlParms(hash);
      const p: PostImgRequest = { total: '30' };
      if (q.tagid) {
        p.tagid = q.tagid;
        console.log('たぐあり');
      }
      p.total = q.total || p.total;

      imgpostStore.FilterWithTag(p);
    },

    more() {
      const q = this.getUrlParms();
      const param: PostImgRequest = { total: '30' };
      const total = +q.total || 30;
      if (q.tagid) {
        param.tagid = q.tagid;
      }
      param.total = `${total + 30}`;
      this.setUrlParms(param);
    },

    onChangeFromVisual(name: string) {
      let find = '';
      if (name === 'i-camaleao') {
        find = 'カマレオ';
      } else if (name === 'i-sanshinomori') {
        find = 'さんしのもり';
      } else if (name === 'i-ike') {
        find = '和田堀公園';
      }

      const tag = this.taglist.find((t: Tag) => t.title === find);
      if (tag) {
        this.filterWithTag(tag);
      }
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import ~bulma/sass/utilities/mixins
@import @/assets/sass/_mixin
@import @/assets/sass/_variables


.view
  position: relative
  z-index: 2

  +touch
    padding: 0
    .columns
      margin: 0
.container
  +tablet
    padding: 20px
.--main
  padding: 0px 0px 0px 0px
  +touch
    padding: 0
.--side
  position: relative
  width: 200px
  padding-left: 30px

  +touch
    margin: 40px auto
    padding: 0
    width: auto
.size
  padding-top: 60px
  & > p
    font-size: 16px
    margin-bottom: 10px
  ul
    display: flex
    justify-content: space-around
  +touch
    display: none

.sidemenu
  // margin-top: -30px
  margin-top: 40px
  +touch
    position: relative
    top: none
    left: none
    width: 200px
    margin: 0 auto
  +tablet
    width: 160px
    margin-left: 10px

.chunum
  margin-top: -50px
  +mobile
    margin: 0
    padding: 30px
    justify-content: center

//----------------------
// item
//----------------------
.section-items
  +touch
    display: none
.item
  margin: 30px 0
  border-radius: 6px
  +neumorphism2
  background-color: #EAC795
  a
    display: inline-block
    padding: 16px
    color: rgba($text-color, 0.5)

.item-title
  font-weight: bold

  &:hover
    color: rgba($text-color, 0.8)
.item-date
  font-size: 12px
  padding: 0 0 4px

//----------------------
// section-3
//----------------------
.section-3
  padding: 4px
  +touch
    display: none

.block3
  background-color: #ecd2ae
  border-radius: 6px
  height: 100px
  margin: 16px 8px 8px
  +neumorphism
  background-image: url("/img/batthern.png")
  background-size: 60px

  $width: 6px
  // box-shadow: inset ($width / 2) ($width / 2) $width #cfb897, inset (-$width / 2) (-$width / 2) $width #fff8cd
  box-shadow: 0px 2px 2px rgba(#000, 0.20)

//----------------------
// postimgs
//----------------------
.section-postimgs
  +touch
    & > .column
      padding: 0

.postimgs-more
  text-align: center
  padding: 0 0 30px
  a
    display: block
    padding: 5px 30px
    +neumorphism2
    border: none
    font-size: 12px
    height: auto
    &:hover
      background-color: #F5F5F5
  .fa-arrow-down
    margin-right: 10px
    color: #AAA
  +touch
    margin: 30px 20px 0
//----------------------
// cancrow
//----------------------
.cancrow
  display: block
  width: 100px
  margin: 100px auto 0
</style>

<style lang="sass">
.dropdown-remove
  .dropdown-content
    overflow: hidden

  a.dropdown-item
    font-size: 10px
    padding: 4px 10px
    min-width: 60px
    &:hover
      background-color: none

.taglist-mobile
  margin-top: 30px
</style>
