@charset "utf-8"

@import _mixin

$green: #509988

body
  background-color: transparent
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif

  &::before
    // background: url(../img/grid.png)
    background: url(../img/dark-stripes-light.png)

ol, ul
  list-style-type: none

.table
  font-size: 12px
  border: solid 1px #CCC
  background-color: #FFF

  th, td
    padding: 5px

  &.table-striped
    tbody
      tr:nth-of-type(2n+1)
        background-color: #F8F8F8

.container
  margin-left: 0
  margin-right: 0

  +mobile
    padding: 0 10px 10px

    .row
      margin: 0

h1
  font-size: 32px

  +mobile
    font-size: 28px
    margin: 10px 0

h2
  border-bottom: solid 1px #999
  color: #666
  font-size: 26px
  padding: 10px 0

  +mobile
    font-size: 20px

h3
  font-size: 20px
  padding: 5px 0 10px

  +mobile
    font-size: 16px

blockquote
  display: inline-block
  background-color: #E7F4D3
  box-shadow: 0 0 3px 1px rgba(#000, 0.1)
  border-left: solid 5px #A6BB87
  padding: 10px 20px 10px 10px

  p
    font-size: 14px
    line-height: 1.6
    margin: 0

//   code.hljs
//     background-color: #FFF
//     line-height: 1.8
//     font-size: 16px
//     padding: 0 20px 0 10px

em
  // font-size: 24px
  font-weight: bold
  color: $green
  font-style: normal
  line-height: 1.5

pre
  border: none
  padding: 0
  box-shadow: 0 0 2px 1px rgba(#000, 0.15)

  code.hljs
    color: #FFF
    font-size: 14px
    background-color: transparent
    background-color: #2d5b51
    border-radius: 4px
    padding: 10px

    &.comment
      background-color: #F5F5F5
      color: #666

      &:before
        $size: 26px

        display: inline-block
        content: ""
        background: url(../img/chunamu_400x400.png)
        background-repeat: no-repeat
        width: $size
        height: $size
        background-size: contain
        margin-right: 10px
        vertical-align: middle

    .hljs-comment
      color: #BCCEA2

    .hljs-attribute
      color: #BCCEA2

    .hljs-number
      color: #BCCEA2

    .hljs-keyword
      color: #6EE1A0

    .hljs-string
      color: #E8C279

    .hljs-regexp
      color: #E8C279

    .hljs-built_in
      color: #d27975

    .hljs-name
      color: #FFF

    .hljs-tag
      color: #FFF

    .hljs-attr
      color: #6EE1A0

    .hljs-title
      color: #6EE1A0

.bg-primary
  background-color: $green !important
  background-image: none

//----------------------
// ヘッダ
//----------------------
.navbar
  border-bottom: solid 1px #BBB
  background-image: none
  background-color: $green

  li
    a
      &:hover
        background-color: #43917e !important

    &.active > a, &.open > a
      background-color: $green !important

      &:hover
        background-color: #43917e !important

      &:focus
        background-color: #43917e !important

  +mobile
    margin-bottom: 0
    padding: 5px 10px

    .container
      padding: 0 10px 0 0

    .navbar-collapse
      ul
        padding: 0 10px

.navbar-toggler
  +mobile
    font-size: 14px

.navbar-brand
  $left: 0px
  $size: 40px

  position: relative
  padding-left: $size + $left + 10px
  font-size: 16px

  &:before
    display: block
    content: ""
    background: url(../img/chunamu_400x400.png)
    background-repeat: no-repeat
    width: $size
    height: $size
    background-size: contain
    position: absolute
    top: 50%
    left: $left
    margin-top: -$size / 2

  +mobile
    $left: 0px
    $size: 30px

    position: relative
    padding-left: $size + $left + 10px
    padding-left: $size + $left + 10px
    font-size: 16px

    &:before
      width: $size
      height: $size
      left: $left
      margin-top: -$size / 2

.ml-auto
  li:nth-child(2), li:nth-child(3)
    display: none

// .navbar-nav
//   & > li:last-child
//     display: none

//----------------------
// 左のメニュー
//----------------------
.well
  background-color: transparent
  border: none

.bg-secondary
  background-color: transparent !important
  border: none

.bs-sidebar
  .nav
    a
      color: #666
      font-weight: normal

      &:hover
        background-color: transparent
        border-right: none !important
        color: #999

      &.active
        color: $green
        font-weight: bold !important
        border-right: none !important

  +mobile
    display: none

//----------------------
// 右側メイン
//----------------------
.col-md-9
  font-size: 18px
  line-height: 1.8
  background-image: url(../img/gohan.png)
  background-repeat: no-repeat
  background-position: top right
  background-size: 60px

  .img
    display: block
    margin: 0 0 10px
    vertical-align: top

    &.is-transparent
      background-color: transparent
      border: none

  .img-inline
    display: inline-block
    margin-right: 20px

  +mobile
    padding: 0
    font-size: 14px
    background-size: 40px