@charset "utf-8"

._bold
  font-weight: bold

@for $i from 10 through 60
  ._fontsize-#{$i}
    font-size: #{$i}px

@for $i from 10 through 60
  // margin
  ._margin-#{$i}
    margin: #{$i}px

  ._margin-top-#{$i}
    margin-top: #{$i}px

  ._margin-right-#{$i}
    margin-right: #{$i}px

  ._margin-bottom-#{$i}
    margin-bottom: #{$i}px

  ._margin-left-#{$i}
    margin-left: #{$i}px

  // padding
  ._padding-#{$i}
    padding: #{$i}px

  ._padding-top-#{$i}
    padding-top: #{$i}px

  ._padding-right-#{$i}
    padding-right: #{$i}px

  ._padding-bottom-#{$i}
    padding-bottom: #{$i}px

  ._padding-left-#{$i}
    padding-left: #{$i}px