@charset "utf-8"

@import _base
@import _helper



.list-userpanel
  display: flex
  flex-wrap: wrap
  margin: 0
  padding: 0

  & > li
    margin-right: 10px
    margin-bottom: 10px

//----------------------
// userpanel
//----------------------
.userpanel
  display: inline-flex
  align-items: center
  box-shadow: 0 0 3px 1px rgba(#000, 0.1)
  padding: 5px 15px 5px 10px
  background-color: #FFF
  border-radius: 4px

  &.-red
    border: solid 1px #ee9f9f
    background-color: #fff3f3
    .userpanel-img
      & > img
        border: solid 1px #ee9f9f
    .userpanel-name
      color: #ee9f9f


.userpanel-img
  $size: 60px

  // flex: 0 0 1
  width: $size
  margin: 0 auto

  & > img
    display: block
    width: $size
    height: $size
    border-radius: $size / 2
    margin: 0

.userpanel-name
  flex: 1 0 0
  white-space: nowrap
  font-size: 14px
  margin-left: 10px;
