<template lang="pug">

.card
  .card-header
    a.card-footer-item.btn-save(@click="submit" :disabled="!canSubmit") 保存
    a.card-footer-item.btn-cancel(@click="close") キャンセル
  .card-content
    .content
      OInput(name="comment" size="is-small" v-model="commentTxt" type="textarea")

  //- .card-footer
    
</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import { outClickClose } from '@/mixin/mxin';

type State = {
  commentTxt: string;
};

export default Vue.extend({
  name: 'CommentEdit',

  mixins: [outClickClose],

  props: {
    val: {
      type: String,
      default: '',
    },
  },

  data(): State {
    return {
      commentTxt: '',
    };
  },

  computed: {
    changed(): boolean {
      return this.commentTxt !== this.val;
    },
    canSubmit(): boolean {
      return this.commentTxt.length > 0 && this.changed;
    },
  },

  mounted() {
    this.commentTxt = this.val.replace(/<br>/g, '\n');
    this.setWindowClick(true);
  },

  methods: {
    submit() {
      this.$emit('change', this.commentTxt);
    },
    onClickOutSide() {
      this.close();
    },
    close() {
      this.$emit('close');
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// card
//----------------------
.card
  position: related
  width: 200px
  max-width: none
  border-radius: 4px

  border: none
  textarea.textarea
    background-color: #EEE
    border: none
    &:focus,&:active
      border: none
      box-shadow: none

  .card-content
    padding: 10px
  .card-header
    a
      padding: 4px
      color: $text-color
      font-size: 12px
      &[disabled]
        opacity: 0.4
</style>
