<template lang="pug">
transition(name="fade")
  .comment(v-if="showComment")
    //- コメント
    vue-typed-js(
      :strings="nextStr"
      :typeSpeed="50"
      :backSpeed="20"
      :startDelay="0"
      :showCursor="false"
      @onComplete="onCompleteComment")
      .typing
    //- 質問
    transition(name="fade")
      .btns(v-if="hasQ")
        b-button.is-small(
          :key="b.name"
          v-for="b in currentItem.q"
          @click.stop.prevent="() => onClickAns(b.value)"
          :disabled="!canAnser") {{b.label}}
    //- 完了ボタン
    transition(name="fade")
      .btns.has-text-right(v-if="!talking && !visibleFinishedBtn")
        b-button.is-small.btn-next(
          @click.stop.prevent="() => onClickNext()") 次へ
    //- 完了ボタン
    transition(name="fade")
      a.btn-finish(
        v-if="visibleFinishedBtn"
        @click.stop.prevent="() => onClickFin()")
        i.fas.fa-times-circle
    //- ローディング
    transition(name="fade")
      b-button.btn-loading(loading type="is-info" v-if="sending") 
</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import { sleep } from '@/common/util';
// import { conversationStore } from '@/store';
import { CommentItem, Answer } from '@/store/conversation';

type State = {
  sending: boolean;
  talking: boolean;
  hasQ: boolean;
  finished: boolean;
  visibleFinishedBtn: boolean;
  comments: CommentItem[];
  currentItem: CommentItem;
  commentsQueue: CommentItem[];
};

export default Vue.extend({
  name: 'Conversation',
  components: {},
  props: {
    name: {
      default: '',
      type: String,
    },
    // comments: {
    //   default: () => [],
    //   type: Array,
    // } as PropOptions<CommentItem[]>,
  },
  data(): State {
    return {
      sending: false,
      talking: false,
      finished: true,
      visibleFinishedBtn: false,
      comments: [],
      hasQ: false,
      currentItem: { strs: [] },
      commentsQueue: [],
    };
  },

  computed: {
    showComment(): boolean {
      return this.nextStr.length > 0;
    },
    nextStr(): string[] {
      if (!this.currentItem) return [];
      return this.currentItem.strs || [];
    },
    canAnser(): boolean {
      return this.hasQ && !this.sending;
    },
    queueZero(): boolean {
      return this.commentsQueue.length === 0;
    },
  },

  mounted() {},

  methods: {
    reset(comments?: CommentItem[]) {
      if (comments) {
        this.comments = comments;
        this.commentsQueue = [...this.comments];
        this.visibleFinishedBtn = false;
      }
      this.currentItem = { strs: [] };
    },

    /**
     * next
     */
    next() {
      console.log('ネクスト');
      if (this.queueZero) {
        this.visibleFinishedBtn = true;
        return;
      }
      const item = this.commentsQueue.shift() || null;
      if (item) {
        this.setNext(item);
      }
    },
    /**
     * next
     */
    async setNext(item: CommentItem) {
      this.reset();
      await sleep(500);
      this.setTalking(true);
      this.currentItem = item;
    },

    /**
     * setTalking
     */
    setTalking(flg: boolean, finished: boolean = false) {
      this.talking = flg;
      this.finished = flg;
      this.$emit('talkStateChanged', { name: this.name, talking: flg, finished });
    },

    /**
     * onCompleteComment
     */
    onCompleteComment() {
      if (this.currentItem.q) {
        this.hasQ = true;
      } else {
        this.hasQ = false;
        this.setTalking(false);
        if (this.queueZero) {
          this.visibleFinishedBtn = true;
        }
      }
    },

    /**
     * onClickAns
     */
    onClickAns(answer: string) {
      this.setTalking(false);
      this.hasQ = false;

      const ans: Answer | undefined = this.currentItem.answer;
      if (ans) {
        if (!ans[answer]) {
          throw new Error(`回答が見つからない ${answer}`);
        }
        this.setNext(ans[answer]);
      }
    },

    /**
     * onClickNext
     */
    onClickNext() {
      this.next();
    },

    /**
     * onClickFin
     */
    onClickFin() {
      this.setTalking(false, true);
      this.reset();
      this.$emit('talkClosed');
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// comment
//----------------------
.comment
  position: relative
  width: 100%
  min-height: 46px
  font-size: 16px
  color: $text-color
  background-color: #F3D8B2
  padding: 10px
  border-radius: 4px
  margin-left: 20px
  +fukiLeft2(#F3D8B2)
  // &:after
  //   content: ""
  //   +topLeft(10px, -16px)
  //   +img("/img/fuki-left.png", 16px,30px)


  .btns
    margin-top: 10px
    button
      margin-right: 6px
      margin-bottom: 6px
      border: none

.btn-finish
  display: inline-block
  color: $text-color
  // background-color: #FFF
  border-radius: 4px
  font-size: 26px
  +bottomRight(-20px,-10px)
  &:hover
    color: #666
  &:before
    content: ""
    +centerTransform
    width: 10px
    height: 10px
    background-color: #FFF
    z-index: 0
  & > svg
    position: relative
    z-index: 1

.btn-loading
  width: 100%
  background-color: transparent
  border: none
  color: #FFF
  padding: 30px 0
</style>
