<template lang="pug">

footer
  .container
    .copyright toshick of the world
    

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';

type State = {};

export default Vue.extend({
  name: 'Footer',
  props: {},
  data(): State {
    return {};
  },
  computed: {},

  created() {},

  methods: {},
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import ~bulma/sass/utilities/mixins
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// header
//----------------------
footer
  display: flex
  align-items: center
  justify-content: center
  height: 200px
  background-color: #333
  border-top: dashed 1px #FFF
  text-shadow: 0 0 2px rgba(#FFF, 0.8)
  +mobile
    height: 100px
.copyright
  color: #EEE
  text-align: center
</style>
