<template lang="pug">

header
  .container
    .sitetitle
      h1
        //- img(src="/img/chunamu_400x400.png")
        |せかいのとしっく
      

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
// import { randomText, goProject, toastNG, toastOK, goTop } from '@/common/util';
// import { appStore } from '@/store';

type State = {
  sending: boolean;
  result: string;
};

export default Vue.extend({
  name: 'Header',
  props: {
    small: {
      default: false,
      type: Boolean,
    },
  },
  data(): State {
    return {
      sending: false,
      result: '',
    };
  },
  computed: {},

  created() {},

  methods: {},
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import ~bulma/sass/utilities/mixins
@import @/assets/sass/_mixin
@import @/assets/sass/_variables


//----------------------
// header
//----------------------
header
  position: relative
  z-index: 1
  width: 100%
  padding: 10px 10px
  .container
    display: flex
    justify-content: flex-start
    align-items: center
    // padding: 10px 20px
    height: 100%


  span
    font-size: 14px
    margin-left: auto
    color: rgba($text-color, 0.6)

.sitetitle
  display: flex
  align-items: center


  min-height: 40px

  h1
    display: inline-flex
    align-items: center
    font-size: 14px
    font-weight: bold
    color: #fff
    text-shadow: 0 2px 1px rgba($text-color, 0.2)
    white-space: nowrap

    img
      display: block
      width: 25px
      margin-right: 10px


+touch
  header
    padding: 0px 10px 0

+mobile
  header
    background-image: url("/img/asfalt-dark.png")
    +topLeft(0, 0, fixed)
    z-index: 10
    width: 100%
    padding: 0
    background-color: #E8DDA8
    box-shadow: 0 0 2px rgba(#000, 0.3 )
    .container
      display: block
  .sitetitle
    height: auto
    justify-content: center
    padding: 0
    height: 30px
    min-height: auto
    h1
      color: $text-color

    // h1
    //   img
    //     width: 20px
</style>
