<template lang="pug">

.card.tagedit
  //- .card-header
  //-   p タグ
  .card-content
    .content
      //- タグリスト
      .tagitems
        .tagitem(v-for="t in taglist" :class="{'--selected': t.selected}")
          p
            a.btn-change-tag(@click="() => changeTag(t.tag)")
              i.fas.fa-check
              |{{t.tag.title}}
              
            a.btn-remove-tag(@click.stop.prevent="() => removeTag(t.tag)" v-if="isAdmin")
              i.fas.fa-trash
      //- 新規タグ
      b-field
        OInput(name="newtag" size="is-small" v-model="newTagTxt" placeholder="新規タグ")
        .control
          a.button.is-small(@click.stop.prevent="addTag" :disabled="!canSubmit")
            i.fas.fa-plus 

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue, { PropType } from 'vue';
import dayjs from 'dayjs';
import { toastOK, toastNG } from '@/common/util';
import { outClickClose } from '@/mixin/mxin';
import { Tag, PostImg, PostImgUpdate } from '@/plugins/firebase';
import { appStore, imgpostStore } from '@/store';
type State = {
  newTagTxt: string;
};

type TagItem = {
  tag: Tag;
  selected: boolean;
};

export default Vue.extend({
  name: 'TagEdit',

  mixins: [outClickClose],

  props: {
    postimg: {
      type: Object as PropType<PostImg>,
      default: () => {},
    },
  },

  data(): State {
    return {
      newTagTxt: '',
    };
  },

  computed: {
    isAdmin(): boolean {
      return appStore.isAdmin;
    },
    canSubmit(): boolean {
      return this.newTagTxt.length > 0;
    },
    taglist(): TagItem[] {
      return imgpostStore.taglist.map((t: Tag) => {
        let selected = false;
        if (this.postimg) {
          const tags = this.postimg.tags || [];
          selected = tags.map((t2: string) => t2).includes(t.id);
        }

        return { tag: t, selected };
      });
    },
  },

  mounted() {
    this.setWindowClick(true);
  },

  methods: {
    async addTag() {
      if (!this.newTagTxt) return;
      const res = await imgpostStore.AddTag({
        id: `${dayjs().unix()}`,
        title: this.newTagTxt,
      });
      if (res.error) {
        return;
      }
      this.newTagTxt = '';
    },
    onClickOutSide() {
      this.close();
    },
    close() {
      this.$emit('close');
    },
    async changeTag(tag: Tag) {
      const d: PostImgUpdate = { ...this.postimg };
      let tags = d.tags ? [...d.tags] : [];
      if (tags.map((t: string) => t).includes(tag.id)) {
        tags = tags.filter((t: string) => t !== tag.id);
      } else {
        tags.push(tag.id);
      }
      const data = { ...d, tags };
      delete data.created;

      const res = await imgpostStore.UpdatePost(data);
      if (res.error) {
        toastNG('タグ変更に失敗');
      }
    },
    /**
     * tagのmasterから削除
     */
    removeTag(tag: Tag) {
      const me = this;
      this.setWindowClick(false);
      this.$buefy.dialog.confirm({
        message: `${tag.title} タグ削除?`,
        type: 'is-danger',
        hasIcon: true,
        onConfirm: async () => {
          const res = await imgpostStore.RemoveTag(tag.id);
          this.setWindowClick(true);
          if (res.error) {
            toastNG('削除に失敗');
            return;
          }
          toastOK('削除した');
        },
        onCancel() {
          setTimeout(() => {
            me.setWindowClick(true);
          }, 500);
        },
      });
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

.card-header
  display: flex
  align-items: center
  padding: 4px 10px
  p
    font-size: 12px
.btn-close
  display: block
  margin-left: auto
  color: $text-color
//----------------------
// card
//----------------------
.card
  position: relative
  width: 200px
  max-width: none
  border-radius: 4px
  border: none
  background-color: #F4DB9F

.card-content
  padding: 10px

.tagitems
  margin-bottom: 10px
.tagitem
  p
    display: inline-block
    margin: 5px 0
    &:hover
      .btn-remove-tag
        display: inline
  &.--selected
    .fa-check
      visibility: visible
.btn-change-tag
  color: $text-color
  font-size: 12px
  .fa-check
    visibility: hidden
    margin-right: 4px
.btn-remove-tag
  display: none
  margin-left: 10px
  font-size: 10px
  color: $text-color
  &:hover
    color: rgba($text-color, 0.5)
</style>
