<template lang="pug">

.taglist
  ul
    li(v-for="i in taglist" :key="i.id")
      a(@click="() => changeTag(i)")
        i.fas.fa-tag
        |{{i.title}}
  
</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import { Tag } from '@/plugins/firebase';
import { imgpostStore } from '@/store';

type State = {};

export default Vue.extend({
  name: 'TagList',

  mixins: [],

  props: {},

  data(): State {
    return {};
  },

  computed: {
    taglist(): Tag[] {
      return [{ id: '', title: 'なし' }, ...imgpostStore.taglist];
    },
  },

  mounted() {},

  methods: {
    changeTag(tag: Tag) {
      this.$emit('change', tag);
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

.taglist
  padding: 30px 0
  ul
    display: flex
    flex-wrap: wrap
    justify-content: center
    li
      margin: 10px
      a
        white-space: nowrap
        color: #FFF
        border-radius: 4px
        padding: 4px 8px
        font-size: 16px
        .fa-tag
          margin-right: 4px
        &:hover
          text-decoration: underline
</style>
