<template lang="pug">

.usericon
  img(:src="url" v-if="logined")
  .noimg(v-if="!logined")

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';

type State = {};

export default Vue.extend({
  name: 'UserIcon',
  props: {
    logined: {
      type: Boolean,
      default: false,
    },
  },
  data(): State {
    return {};
  },
  computed: {
    url(): string {
      return '/img/bird.jpg';
    },
  },

  created() {},

  methods: {},
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// usericon
//----------------------
$size: 60px
.usericon
  display: inline-block
  img
    display: block
    width: $size
    height: $size
    border-radius: $size / 2
    background-color: #DDD
    overflow: hidden
.noimg
  width: $size
  height: $size
  border-radius: $size / 2
  background-color: $text-color
</style>
