<template lang="pug">

.bbb
  button.button
    slot
    img(src="/img/chunamu_400x400.png")
    |{{taglist.length}}

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import { imgpostStore } from '@/store';
import UserIcon from '@/components/UserIcon.vue';
import { Tag } from '@/plugins/firebase.ts';

type State = {
  flg: boolean;
};

export default {
  name: 'VueButtonPug',

  components: {
    UserIcon,
  },

  data(): State {
    return {
      flg: false,
    };
  },

  computed: {
    taglist(): Tag[] {
      return [{ id: '', title: 'なし' }, ...imgpostStore.taglist];
      // return [];
    },
  },

  methods: {
    // onClick() {
    //   // this.$emit('click');
    //   this.flg = true;
    // },
  },
};
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_variables

.bbb
  padding: 10px
  img
    width: 30px
  button
    border: solid 1px blue
    color: $text-color
</style>
