<template lang="pug">
//- youtube
.youtubeview
  youtube(
    :player-vars="playerVars"
    ref="youtube" 
    @ready="onReady" 
    @ended="onEnded")
</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';

type State = {};

export default Vue.extend({
  name: 'YoutubeView',
  components: {},
  props: {},
  data(): State {
    return {
      playerVars: {
        mute: true,
      },
    };
  },

  computed: {
    player() {
      if (!this.$refs.youtube) return null;
      const yt = this.$refs.youtube as any;
      return yt.player;
    },
  },

  mounted() {},

  methods: {
    playVideo() {
      this.player.loadVideoById({ videoId: 'f2DaEbtS7nU' });
      // this.playbyPlaylistID('PLo-UqvAip6coeqhrMKNe3nBUtEOc_S-oy');
    },

    /**
     * プレイリストのIDを指定して再生
     */
    playbyPlaylistID(id: string) {
      this.player.loadPlaylist({
        list: id,
      });
    },

    /**
     * ユーザ名を指定して再生
     * username: 'egawauemon'
     */
    playUserPlaylist(username: string) {
      this.player.loadPlaylist({
        listType: 'user_uploads',
        list: username,
      });
    },

    /**
     * onReady
     */
    onReady() {
      console.log('onReady');
      this.playVideo();
    },

    /**
     * onEnded
     */
    onEnded() {
      console.log('onEnded');
      this.playVideo();
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// youtube
//----------------------
.youtubeview
  height: 100%
  pointer-events: none
  overflow: hidden

  iframe
    display: block
    height: 200%
    width: 100%
    +centerTransform
  &::after
    content: ""
    display: block
    +topLeft(0,0)
    width: 100%
    height: 100%
    background-color: rgba(#FFF, 0.50)
    background-image: url("/img/light-mesh.png")

// #ytplayer
//   display: block
//   height: 300%
//   +centerTransform
//   z-index: 0
</style>
