<template lang="pug">

//- チューナム
article.chunum
  a.btn-chunum(@click.stop.prevent="() => nextHello()" :disabled="!talkFinished")
    .btn-chunum-img
      img(src="/img/q-win.png")
  .chunum-comment
    Conversation(
      name="chunum"
      ref="chunum"
      @talkStateChanged="talkStateChanged"
      @talkClosed="waitAndHello")


</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import Conversation from '@/components/Conversation.vue';
import { shuffle } from '@/common/util';
// import { appStore } from '@/store';
import { CommentItem } from '@/store/conversation';
import comments from '@/assets/conversation.json';

type State = {
  talkFinished: boolean;
  currentTalk: string;
  talkState: { [key: string]: boolean };
  timerID: NodeJS.Timer | null;
};

export default Vue.extend({
  name: 'Chunum',
  components: {
    Conversation,
  },
  props: {
    small: {
      default: false,
      type: Boolean,
    },
  },
  data(): State {
    return {
      talkFinished: false,
      currentTalk: '',
      talkState: {},
      timerID: null,
    };
  },
  computed: {
    chunum(): any {
      return this.$refs.chunum;
    },
    talkingChunum(): boolean {
      return this.talkState.chunum || false;
    },
    conversationList() {
      return Object.keys(comments.conversation);
    },
  },

  mounted() {
    this.nextHello();
  },

  methods: {
    /**
     * nextCom
     */
    randomCom() {
      const ary = shuffle(this.conversationList.filter((name) => name.charAt(0) !== '-'));
      console.log('ary', ary);

      if (ary.length === 0) return;
      const next = ary[0];
      this.nextCom(next);
    },

    /**
     * talkStateChanged
     */
    talkStateChanged({ name, talking, finished }: { name: string; talking: boolean; finished: boolean }) {
      this.talkFinished = finished;
      if (finished) {
        this.currentTalk = '';
      }
      this.$set(this.talkState, name, talking);
    },

    /**
     * waitAndHello
     */
    waitAndHello() {
      if (this.timerID) clearTimeout(this.timerID);
      this.timerID = setTimeout(() => {
        this.nextHello();
        this.timerID = null;
      }, 1000);
    },

    /**
     * nextHello
     */
    nextHello() {
      const keys = Object.keys(comments.conversation).filter((n) => n.indexOf('hello-') === 0);
      const next = shuffle(keys).pop();
      this.nextCom(next);
    },

    /**
     * nextCom
     */
    nextCom(name: string) {
      console.log('nextCom', name);
      if (!this.conversationList.includes(name)) return;
      if (this.currentTalk !== name) {
        this.$emit('change', name);
        const c: { [key: string]: CommentItem[] } = comments.conversation;
        const data = c[name];
        //   if (data) {
        //     for (const [key] of Object.entries(this.screenItemMap)) {
        //       this.screenItemMap[key].klass = {};
        //     }

        this.chunum.reset(data);
        //     const mapdata: ScreenItem = this.screenItemMap[name];
        //     if (mapdata) {
        //       mapdata.klass['--focus'] = true;
        //     }
        //   } else {
        //     return;
        //   }
      }

      this.currentTalk = name;
      this.chunum.next();
      this.talkFinished = false;
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import ~bulma/sass/utilities/mixins
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// sidemenu
//----------------------
.chunum
  position: relative
  display: flex
  align-items: top
  z-index: 5
  // +topLeft($mainviewH - 20px, 30px)
  // +touch
  //   position: relative
  //   justify-content: center
  //   top: auto
  //   left: auto
  //   padding: 30px 0


.btn-chunum
  display: block
  width: 100px
  height: 100px
  border-radius: 50px
  overflow: hidden
  box-shadow: 0px 2px 2px rgba(#000, 0.20)

  &:hover
    .btn-chunum-img
      transform: scale(0.9, 0.9)
  &[disabled]
    pointer-events: none
    opacity: 1
.btn-chunum-img
  position: relative
  width: 100px
  height: 100px
  img
    display: block
    width: 120%
    max-width: none
    +centerTransform

.chunum-comment
  width: 340px
  +vCenter
  left: 110px
  +touch
    display: none
</style>
