<template lang="pug">
.mainvisual
  .mainvisual-body
    //- swiper
    .swiper-container.--mainvisual
      .swiper-wrapper
        //- スライド
        .swiper-slide
          //- youtube
          .youtube
            Youtube
        //- スライド
        .swiper-slide
          //- イントロ
          transition(name="fade")
            vue-typed-js.title(
              :strings="['','今日やらねえやつは', '明日もヤラネエ']"
              v-if="visibleIntro"
              :typeSpeed="100"
              :backSpeed="100"
              @onComplete="onFinishTypeIntro")
              .typing
          //- パーツ
          transition(name="fade")
            .screen(v-if="visualUrl")
              .screen-body
                .btn-screen
                  img(:src="visualUrl")
                //- パーツ
                .parts(v-if="visibleParts")
                  a.sitem(
                    v-for="i in screenItemMap"
                    :style="i.style"
                    :class="i.klass"
                    v-dhover="() => nextCom(i.name)"
                    
                    )
                    img(:src="i.url")
  
  

    
    //- .items
    //-   b-button(@click="add" disabled) ついか
    //-   p はなしている {{talkingChunum}}
    //-   p カウント
    //-   p talkState {{talkState}}
  //- img.gohan(src="/img/gohan.png")
  
    

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import Swiper from 'swiper';
import VueTypedJs from 'vue-typed-js';
import { sleep, shuffle } from '@/common/util';
import Youtube from '@/components/Youtube.vue';

import { conversationStore } from '@/store';

Vue.use(VueTypedJs);

type FigmaItem = {
  id?: string;
  name?: string;
  type?: string;
  children?: FigmaItem[];
  absoluteBoundingBox?: { x: string; y: string; width: number; height: number };
  constraints?: { vertical: string; horizontal: string };
  clipsContent?: boolean;
  background?: any[];
  fills?: any[];
  strokes?: any[];
  strokeWeight?: number;
  strokeAlign?: string;
  backgroundColor?: { r: number; g: number; b: number; a: number };
  exportSettings?: any[];
  effects?: any[];
};

type ScreenItem = {
  x: number;
  y: number;
  name: string;
  width: number;
  height: number;
  url: string;
  style: {
    width: string;
    height: string;
    top: string;
    left: string;
  };
  klass: { [key: string]: boolean };
};

type State = {
  visibleIntro: boolean;
  visibleParts: boolean;
  // visibleComment: boolean;
  visibleYoutube: boolean;

  sending: boolean;

  // conversationStore: ConversationStore;

  screenItemMap: { [key: string]: ScreenItem };
  visualUrl: string;
  mySwiper: Swiper | null;
};

export default Vue.extend({
  name: 'MainVisual',
  components: {
    Youtube,
  },
  props: {},
  data(): State {
    return {
      visibleIntro: false,
      visibleParts: false,
      // visibleComment: false,
      visibleYoutube: false,
      sending: false,
      // conversationStore,
      screenItemMap: {},
      visualUrl: '/top/view-koenji-bg.png',
      mySwiper: null,
    };
  },

  computed: {
    refs(): any {
      return this.$refs;
    },

    items(): string[] {
      return [];
    },

    // screenItemMapC() {
    //   const ret: { [key: string]: ScreenItem } = {};
    //   for (const [key, data] of Object.entries(this.screenItemMap)) {
    //     const style = { width: `${data.width}px`, height: `${data.height}px`, top: `${data.y}px`, left: `${data.x}px` };
    //     ret[key] = { ...data, style };
    //   }
    //   return ret;
    // },
  },

  mounted() {
    this.visibleParts = true;
    this.mySwiper = new Swiper('.swiper-container.--mainvisual', {});

    // this.$nextTick(() => {
    //   this.setupScreen();
    // });
  },

  methods: {
    /**
     * setupScreen
     */
    async setupScreen() {
      const name = 'view-koenji';
      const res = await conversationStore.GetScreenItemsJson();

      const view = res.document.children[0].children.find((i: FigmaItem) => {
        return i.name === name;
      });

      const items = view.children;

      const parentBox = view.absoluteBoundingBox;
      // const items = res.document.children[0].children;
      items.forEach((i: any) => {
        const name = i.name;
        if (!i.exportSettings) return;
        if (!name.match(/^i\-/)) return;
        const format = i.exportSettings[0].format.toLowerCase();
        const url = `/top/${name}.${format}`;

        const data = i.absoluteBoundingBox as ScreenItem;
        const style = { width: `${data.width}px`, height: `${data.height}px`, top: `${data.y - parentBox.y}px`, left: `${data.x - parentBox.x}px` };
        this.$set(this.screenItemMap, i.name, { ...data, name, url, style, klass: {} });
        // this.talkStateChanged({ name, talking: false, finished: false });
      });
    },

    /**
     * typeIntro
     */
    async onFinishTypeIntro() {
      await sleep(1000);
      this.visibleIntro = false;
      await sleep(1000);
      this.visibleParts = true;
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import ~bulma/sass/utilities/mixins
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

$mainviewH: 400px
.youtube
  height: $mainviewH

//----------------------
// mainvisual
//----------------------
.mainvisual
  position: relative
  height: $mainviewH

  $width: 16px
  box-shadow: (-$width / 2) (-$width / 2) $width #fff8cd, ($width / 2) ($width / 2) $width #fff8cd
  +touch
    height: auto
    box-shadow: none

.mainvisual-body
  +topLeft(0px, 0)
  width: 100%
  height: $mainviewH
  z-index: 0
  background-color: #f3d8b2
  overflow: hidden
  +touch
    display: none

.gohan
  display: block
  +topLeft(-5px,10px)
  z-index: 1
  width: 40px
  animation: gohanmove 20s 0s linear infinite, gohanbounce 1s 0s ease infinite
  // opacity: 0.3

@keyframes gohanmove
  0%
    left: -50px
  100%
    left: 105%

@keyframes gohanbounce
  0%
    top: -35px
  50%
    top: -50px
  100%
    top: -35px

.title
  +centerTransform(45%, 50%)
  z-index: 1
  width: 100%
  .typing
    font-size: 34px
    color: #FFF
    text-shadow: 0px 2px 0px rgba(#000, 0.2)
    width: 100%
    text-align: center
video
  position: relative
  display: block
  +centerTransform
  width: 100%
  z-index: 2

.btn-screen
  &[disabled]
    pointer-events: none


.items
  position: relative
  z-index: 1
  +hCenter
  bottom: 30px

.screen
  position: relative
  background-color: #333
  height: 100%
  text-align: center
  // background-image: url("/img/light-mesh.png")

.screen-body
  display: inline-block
  position: relative
  height: 100%
  margin: 0 auto
  img
    position: relative
    z-index: 1
    display: block

    // width: 100%
    height: 100%
    max-width: none
  +touch
    width: 100%
    img
      object-fit: cover
      width: 100%
.parts
  +topLeft(0, 0)
  height: 100%
  margin: 0 auto


.sitem
  position: absolute
  z-index: 1
  img
    display: block
    // height: 100%
  &:hover
    animation: blink 0.1s step-end infinite

  &.--focus
    pointer-events: none
    &::after
      $size: 40px
      display: block
      content: ""
      width: $size
      height: $size
      border-radius: $size/2
      border: dotted 2px #333
      +centerTransform

@keyframes blink
  50%
    opacity: 0.9

.swiper-slide
  height: 100%
  overflow: hidden
</style>
