<template lang="pug">
.postimg
  //- 日付
  .postimg-date
    |{{item.created}}
    //- 削除
    a.btn-trash(@click.stop.prevent="() => removePost(item.id)" v-if="isAdmin")
      i.fas.fa-trash
    //- b-dropdown.dropdown-remove(hoverable aria-role="list" v-if="isAdmin")
      //- b-dropdown-item(aria-role="listitem" @click.stop.prevent="() => removePost(item.id)") 削除
  //- イメージ
  .postimg-img
    a.btn-img(@click.stop.prevent="() => showImg(item)" :disabled="!canOpen" @mouseover="() => hoverImg(item)")
      img(:src="item.imgurlMid + postimgMapData.rnd")
    //- タグ表示
    a.btn-tag(@click.stop.prevent="postimgMapData.editTag = true")
      i.fas.fa-tag
    //- 自動オープン
    a.btn-autoopen(v-dhover:500="() => showImg(item, true)" :disabled="!canOpen")
      //- i.fas.fa-arrow-up
      |auto
    //- タグリスト
    .postimg-tags(v-if="item.tagsDisp")
      .postimg-tag(v-for="tag in item.tagsDisp")
        |{{tag.title}}
  //- コメント
  .postimg-comment(v-if="postimgMapData")
    a.btn-edit(@click.stop.prevent="editPost()" :disabled="!isAdmin")
      i.fas.fa-comment
    p(v-html="item.comment")
  //- コメント編集
  transition(name="fade-quick")
    .comment-edit(v-if="postimgMapData && postimgMapData.edit")
      CommentEdit(
        :val="item.comment"
        @change="(txt) => updatePostComment(item.id, txt)"
        @close="editPost(false)"
        )
  //- タグ編集
  transition(name="fade-quick")
   .tag-edit(v-if="postimgMapData.editTag")
      TagEdit(
        @close="postimgMapData.editTag = false"
        :postimg="item")
</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue, { PropType } from 'vue';
import { toastOK, toastNG } from '@/common/util';
import CommentEdit from '@/components/CommentEdit.vue';
import TagEdit from '@/components/TagEdit.vue';

import { appStore, imgpostStore } from '@/store';
import { PostImg } from '@/plugins/firebase.ts';
import { PostImgView } from '@/types/app';

type PostImgState = {
  edit: boolean;
  rnd: string;
  editTag: boolean;
};

type State = {
  sending: boolean;
  result: string;
  postimgMapData: PostImgState;
};

export default Vue.extend({
  name: 'PostImgItem',
  components: {
    CommentEdit,
    TagEdit,
  },
  props: {
    item: {
      type: Object as PropType<PostImgView>,
      default: () => {},
    },
  },
  data(): State {
    return {
      sending: false,
      result: '',
      postimgMapData: {
        edit: false,
        rnd: '',
        editTag: false,
      },
    };
  },
  computed: {
    isAdmin(): boolean {
      return appStore.isAdmin;
    },
    canOpen(): boolean {
      if (this.isMobile) return false;

      return !this.postimgMapData.edit;
    },
  },

  created() {},

  methods: {
    /**
     * showImg
     */
    showImg(i: PostImg | null, autoopen: boolean = false) {
      this.$emit('showImg', i, autoopen);
    },

    editPost(edit?: boolean) {
      if (typeof edit === 'boolean') {
        this.postimgMapData.edit = edit;
      } else {
        this.postimgMapData.edit = !this.postimgMapData.edit;
      }
    },

    updatePostComment(id: string, comment: string) {
      this.editPost(false);
      this.updatePost(id, { comment });
    },

    updatePost(id: string, params: any) {
      imgpostStore.UpdatePost({ id, ...params });
    },

    removePost(id: string) {
      this.$buefy.dialog.confirm({
        message: '削除するナム?',
        onConfirm: async () => {
          const res = await imgpostStore.RemovePost(id);
          if (res.error) {
            toastNG('削除に失敗');
            return;
          }
          toastOK('削除した');
        },
      });
    },

    hoverImg(i: PostImg) {
      if (!i.imgurl.includes('.gif')) return;
      this.postimgMapData.rnd = `?rnd=${Math.floor(Math.random() * 1000)}`;
    },
  },
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import ~bulma/sass/utilities/mixins
@import @/assets/sass/_mixin
@import @/assets/sass/_variables



.postimg
  position: relative
  margin: 0 15px 10px 0
  padding: 0 0 10px
  font-size: 12px
  &:hover
    .btn-autoopen, .btn-tag
      display: block
    .postimg-tags
      display: flex

  +mobile
    margin: 0
    overflow: hidden
    pointer-events: none

.postimg-img
  position: relative
  display: block


.btn-img
  display: block
  overflow: hidden
  border-radius: 3px
  +neumorphism3
  img
    display: block
    width: 100%

  &[disabled]
    pointer-events: none

  +mobile
    width: 100%
    box-shadow: 0 0 3px 1px rgba(#FFF, 1)
    border-radius: 0
    height: auto




.postimg-date
  margin: 0 0 4px
  font-size: 12px
  +mobile
    font-size: 12px
    margin: 0 0 4px 4px

.postimg-comment
  // width: $img-width
  font-size: 14px
  font-weight: bold
  text-overflow: ellipsis
  margin: 10px 0 0
  color: $text-color
  & > p
    display: inline
  .btn-edit
    color: $text-color
    margin-right: 4px
  +mobile
    width: 100%
    padding: 0 10px
    font-size: 12px
.comment-edit
  z-index: 2
  padding: 0 10px 10px
  +fukiTop(#FFF, 50%)
  .card
    width: 100%
.autoopen
  +bottomLeft(5px, 5px)
  color: #FFF
  font-size: 12px
  text-shadow: 0 1px 1px #333
.btn-autoopen
  display: none
  +topLeft(10px, 10px)
  z-index: 1
  color: #FFF
  font-size: 14px
  opacity: 0.7
  &:hover
    color: #FFF
    animation: blink 0.1s step-end infinite
  +mobile
    display: none
@keyframes blink
  50%
    opacity: 0.9
.btn-trash
  color: rgba($text-color, 0.3)
  margin-left: 4px
  &:hover
    color: rgba($text-color, 0.5)
//----------------------
// tag
//----------------------
.btn-tag
  display: none
  position: related
  +topRight(10px, 10px)
  z-index: 2
  color: #FFF
  &:hover
    color: rgba(#FFF, 0.8)

.tag-edit
  +topLeft(20px, 90%)
  padding: 10px
  z-index: 2
  width: 200px
  .card
    width: 100%

.postimg-tags
  +topLeft(0,0)
  display: none
  pointer-events: none
  flex-wrap: wrap
  padding: 40px 10px 10px
  width: 100%
  // height: 100%
  overflow: hidden
  +mobile
    padding: 10px
.postimg-tag
  display: block
  font-size: 10px
  color: #FFF
  // border: solid 1px #FFF
  border-radius: 4px
  margin: 0 4px 4px 0
  padding: 2px 4px
  background-color: rgba(#333, 0.4)


//----------------------
// fukidashi
//----------------------
.postimg
  +mobile
    padding: 10px

.postimg-img
  background-color: #FFF
  padding: 4px
  border-radius: 4px
</style>
