<template lang="pug">
menu.sidemenu
  .user
    UserIcon.usericon(:logined="logined")
    p.user-name toshick
    p.user-mail toshick@***.com
    p.user-word
      |今日やらねえやつは
      br
      |明日もヤラネエ

</template>
<!------------------------------->

<!------------------------------->
<script lang="ts">
import Vue from 'vue';
import UserIcon from '@/components/UserIcon.vue';
import { appStore } from '@/store';

type State = {
  sending: boolean;
  result: string;
};

export default Vue.extend({
  name: 'SideMenu',
  components: {
    UserIcon,
  },
  props: {
    small: {
      default: false,
      type: Boolean,
    },
  },
  data(): State {
    return {
      sending: false,
      result: '',
    };
  },
  computed: {
    logined(): boolean {
      return appStore.logined !== null;
    },
  },

  created() {},

  methods: {},
});
</script>
<!------------------------------->

<!------------------------------->
<style scoped lang="sass">
@import @/assets/sass/_mixin
@import @/assets/sass/_variables

//----------------------
// sidemenu
//----------------------
.sidemenu
  min-height: 50vh
  border-radius: 12px
  padding: 20px

  background-color: rgba(#EAC795, 0.8)
  // box-shadow: 0px 2px 2px rgba(#000, 0.20)
  +neumorphism2

//----------------------
// user
//----------------------
.user
  text-align: center
  color: $text-color
.user-name
  font-weight: bold
  margin-top: 10px
.user-mail
  margin-top: 10px
.user-word
  margin-top: 20px
  font-size: 14px
.usericon
  margin: 0 auto
</style>
